# --- SECURITY ---
neo.txt
.env
*.pem
*.key
secrets.json

# --- BACKEND (Python) ---
**/__pycache__/
*.py[cod]
sincera_backend/.venv/
sincera_backend/dist/
sincera_backend/build/

# --- APP (Flutter) ---
sincera_app/linux/
sincera_app/macos/
sincera_app/windows/
sincera_app/web/

sincera_app/build/
sincera_app/.dart_tool/
sincera_app/.pub/
sincera_app/.flutter-plugins-dependencies

# --- SYSTEM ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

commands.txt